// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.article-body {
 border-top: 1px solid #eaeaea;
 padding-top: 15px;
 padding-bottom: 15px;
}

.article-title {
 font-weight: bold;
 font-size: 1.5em;
}
